.wrapper {
  display: block;
  outline: none;
  overflow: hidden;
  position: relative;
  top: -1px;
}

.wrapper > * {
  outline: none;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
}

.wrapper .input_file_label {
  width: 0;
  height: 49px;
  border: none;
  transition: 0.5s;
  padding: 0;
  opacity: 0;
}

.wrapper .input {
  width: 0;
  height: 49px;
  border: none;
  padding: 0;
  transition: 0.5s;
  opacity: 0;
}

.wrapper .btn {
  border-bottom-left-radius: 6px;
}

.wrapper_show .input_file_label {
  width: 15%;
  border: 1px solid #e0e0e0;
  transition-property: width;
  transition: 0.5s;
  opacity: 1;
  padding: 3px;
  padding-top: 5px;
  border-bottom-left-radius: 6px;
}

.wrapper_show .input {
  width: 157px;
  border: 1px solid #e0e0e0;
  border-left: none;
  border-right: none;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 8px;
  padding-right: 8px;
  transition-property: width;
  transition: 0.5s;
  opacity: 1;
}

.wrapper_show .btn {
  transition: 0.5s;
  border-bottom-left-radius: 0;
}

.input {
  float: left;
  display: inline-block;
  font-size: 16px;
  font-family: "Exo 2", sans-serif;
}

.input_file_label {
  display: inline-block;
  cursor: pointer;
  float: left;
  overflow: hidden;
}

.input_file_label img {
  display: block;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  object-fit: cover;
}

.input_file_label:hover {
  background-color: rebeccapurple;
}

.input_file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.btn {
  cursor: pointer;
  float: left;
  display: inline-block;
  border: 1px solid mediumpurple;
  color: white;
  font-family: "Exo 2", sans-serif;
  font-size: 18px;
  background-color: mediumpurple;
  width: 60px;
  transition: 0.5s;
  border-bottom-right-radius: 6px;
  height: 49px;
}

.btn:hover {
  background-color: rebeccapurple;
  transition: 0.5s;
}

.btn.btn_cancel {
  background-color: darkred;
  border: red;
  border-radius: 0;
  width: 49px;
  line-height: 49px;
  padding: 0;
}

.btn.btn_cancel:hover {
  background-color: red;
}

.btn.btn_accept {
  font-size: 36px;
  background-color: darkgreen;
  border: green;
  border-radius: 0;
  width: 49px;
  line-height: 49px;
  padding: 0;
}

.btn.btn_accept:hover {
  background-color: green;
}
