.trigger_options {
  display: block;
  border: 1px solid #e0e0e0;
  border-radius: 6px;
  border-bottom-left-radius: 0;
  outline: none;
}

.trigger_options:hover {
  border-color: #b5b5b5;
}

.trigger_options.trigger_open {
  border: 1px solid #e0e0e0;
  border-radius: 6px;
}

.trigger_options .option {
  border: none;
}

.trigger_options .option:hover {
  border: none;
  border-radius: 6px;
  background: white;
}

.option.trigger_open {
  background: #f1f2f6;
}

.option.trigger_open:hover {
  background: #f1f2f6;
}

.options {
  margin-top: 8px;
  background: #ffffff;
  border: 1px solid #e0e0e0;
  max-height: 160px;
  transition: 0.25s;
  opacity: 1;
  overflow-y: scroll;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.options_hide {
  max-height: 0;
  margin-top: 0;
  border: none;
  transition: 0.25s;
  opacity: 0;
}

.option {
  border-bottom: 1px solid #e0e0e0;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  cursor: pointer;
}

.options .option:first-child {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.options .option:last-child {
  border-bottom: 1px solid rgba(255, 0, 0, 0);
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.option img {
  margin-right: 9px;
  margin-top: 4px;
  margin-bottom: 0px;
  margin-left: 6px;
  border-radius: 50%;
  object-fit: cover;
}

.option .option__txt {
  display: inline-block;
  vertical-align: 11px;
  font-size: 18px;
  font-family: "Exo 2", sans-serif;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: calc(100% - 70px);
}

.option:hover {
  background: #f1f2f6;
}

.shadow {
  box-shadow: 0 3px 7px 0 rgba(63, 85, 102, 0.11);
}
