.window {
  display: inline-block;
  border: 1px solid #e0e0e0;
  background: white;
  border-top-left-radius: 0;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  padding: 20px 20px;
  position: relative;
  width: 300px;
  top: 100px;
  left: 100px;
}

.window * {
  box-sizing: border-box;
}

.window *::-webkit-scrollbar {
  width: 0;
}

.h1 {
  position: absolute;
  top: -41px;
  left: -1px;
  display: inline-block;
  font-family: 'Exo 2', sans-serif;
  font-size: 26px;
  margin: 0;
  margin-bottom: 10px;
  border: 1px solid #e0e0e0;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  padding: 4px 14px;
}

.label {
  display: block;
  font-size: 20px;
  font-family: 'Exo 2', sans-serif;
  margin-bottom: 10px;
}

.textarea {
  display: block;
  position: relative;
  width: 300px;
  max-height: 120px;
  resize: none;
  border: 1px solid #e0e0e0;
  border-radius: 6px;
  padding: 20px 20px;
  font-family: 'Exo 2', sans-serif;
  font-size: 18px;
  line-height: 22px;
  background: white;
  overflow-y: scroll;
}

.textareaRectWrapper {
  height: 12px;
  width: 24px;
  overflow: hidden;
  position: relative;
  top: -1px;
  left: 18px;
}

.textareaRect {
  content: '';
  position: absolute;
  top: -18px;
  display: block;
  width: 24px;
  height: 24px;
  background: white;
  border: 1px solid #e0e0e0;
  transform: rotate(45deg);
}

.textarea:focus {
  outline: none;
  border-color: #b5b5b5;
}

.submit {
  display: block;
  font-family: 'Exo 2', sans-serif;
  padding: 10px 20px;
  font-size: 24px;
  border-radius: 6px;
  border: none;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: mediumpurple;
  color: white;
  cursor: pointer;
  transition: 0.5s;
}

.submit:hover {
  background-color: rebeccapurple;
  transition: 0.5s;
}
