.window {
  display: inline-block;
  border: 1px solid black;
  background: white;
  border-radius: 6px;
  padding: 20px 20px;
  position: relative;
  margin-top: 32px;
}

.window * {
  box-sizing: border-box;
}

.window *::-webkit-scrollbar {
  width: 16px;
}

.window *::-webkit-scrollbar-track {
  border-radius: 4px;
}

.window *::-webkit-scrollbar-thumb {
  background: green;
  border-radius: 4px;
}

.h1 {
  position: absolute;
  top: -34px;
  display: inline-block;
  font-family: "Exo 2", sans-serif;
  font-size: 32px;
  margin: 0;
  margin-bottom: 10px;
}

.label {
  display: block;
  font-size: 24px;
  font-family: "Exo 2", sans-serif;
  margin-bottom: 10px;
}

.textarea {
  display: block;
  position: relative;
  width: 300px;
  max-height: 400px;
  resize: none;
  border: 1px solid black;
  border-radius: 6px;
  padding: 20px 20px;
  font-family: "Exo 2", sans-serif;
  font-size: 18px;
  line-height: 22px;
  overflow-y: scroll;
  background: white;
}

.textareaRectWrapper {
  height: 12px;
  width: 24px;
  overflow: hidden;
  position: relative;
  top: -1px;
  left: 20px;
}

.textareaRect {
  content: "";
  position: absolute;
  top: -18px;
  display: block;
  width: 24px;
  height: 24px;
  background: white;
  border: 1px solid black;
  transform: rotate(45deg);
}

.textarea:focus {
  outline: none;
  border-color: green;
}
